version: '2'
services:
  web:
    build: .
    mem_limit: 512
    environment:
      - PASSENGER_MAX_POOL_SIZE=2
    labels:
      - convox.deployment.minimum=50
      - convox.deployment.maximum=200
      - convox.port.80.protocol=http
      - convox.port.443.protocol=https
      - convox.health.path=/_health
      - convox.health.timeout=8
      - convox.idle.timeout=60
      - convox.cron.test-task=*/10 * * * ? echo something
    ports:
      - "80:3000"
      - "443:3000"
  worker:
    build: .
    mem_limit: 512
    environment:
      - QUEUES=default,paperclip,mailers
      - MAGICK_MAP_LIMIT=64MiB
      - MAGICK_MEMORY_LIMIT=256MiB
      - MAGICK_TIME_LIMIT=30
    labels:
      - convox.deployment.minimum=0
      - convox.deployment.maximum=200
    command: bundle exec rake jobs:work
